.linkDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  background-color: rgba(79, 48, 104, 0.664);
  backdrop-filter: blur(5px);
  padding-block: 15px;
  padding-inline: 20px ;
  border-radius: 15px;
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
}


.linkDataContainer .ok {
  width: 50px;
  height: 50px;
  background-color: rgba(156, 161, 255, 0.575);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 1;
  grid-row: span 2;
}

.linkDataContainer .ok img {
  height: 30px;
}

.linkData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkDataContainer .info{
  display: flex;
  gap: 20px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.data1 {
  font-size: 1.3rem;
  color: rgb(221, 209, 255);
}

.data2 {
  font-size: 1.4rem;
  font-weight: 700;
}

.copy, .download {
  min-width: 150px;
  background: none;
  height: fit-content;
  border: 1px rgb(156, 161, 255) solid;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 150ms linear;
  cursor: pointer;
}

.copy img, .download img {
  width: 1.4rem;
}

.copy:hover,.download:hover {
  background-color: rgb(156, 161, 255);
}

.qr {
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding-block: 20px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}


